/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

main {
  display: flex;
  gap: 5px;
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-collapse: collapse;
}

.controller-cell {
  background: lightgray;
}

.controller-cell[aria-selected=true]{
  background: lightcoral;
}


#controller-column,
.game-board-column {
  display: flex;
  flex-direction: column;
}

#game-board {
  display: flex;
}



